/* messages.css */

/* Style for the entire Messages component container */
.messages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
}

/* Style for the heading */
.messages-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333; /* Set your desired text color */
}

/* Style for the message list */
.message-list {
  list-style: none;
  padding: 0;
  position: relative;
  left: -5%;
  top: 50px;
}

/* Style for each individual message item */
.message-item {
  display: flex;
  align-items: flex-start;
  max-width: 80%; /* Adjust as needed */
  margin-bottom: 20px;
}

/* Style for the user profile image */
.user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Style for the message content */
.message-content {
  display: flex;
  flex-direction: column;
}

/* Style for the username */
.username {
  font-weight: bold;
  color: #333; /* Set your desired text color */
}

/* Style for the message text */
.message-text {
  font-size: 16px;
  color: #000; /* Set your desired text color */
  background-color: #e1ffc7; /* Set message background color */
  border-radius: 10px; /* Slightly rounded corners for message items */
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  height: 50px;
}

/* Style for the sender's message (aligns to the right) */
.sender-message {
  align-self: flex-end;
  background-color: #dcf8c6; /* Set sender's message background color */
}

/* Style for the sender's username */
.sender-username {
  text-align: right;
}
