/* ProjectDetails.module.css */

.project-details-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: calc(100vh - 190px); /* Adjust height for Navbar and Sidebar */
}

.project-details-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
  text-align: left;
  margin-left: -80px;
}

/* Styling for the "More Project Details" button */
.project-details-button {
  background-color: #a0d1ed;
  color: #000000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  top: 90px;
  left: 85%;
  border-radius: 10px;
}

/* Hover effect for the button */
.project-details-button:hover {
  background-color: #7e92aa;
}

.project-details-row1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}
.project-details-row2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.project-details-label {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #333;
  width: 100%; /* Adjust label column width */
  text-align: right; /* Right-align labels */
}

.project-details-data {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #510a17;
  width: 60%; /* Adjust data column width */
  text-align: left; /* Left-align data */
}
/* Container styles */
.projectsubmit-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-member-container {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 75%;
  position: relative;
  left: 21%;
  top: -160px;
}
/* Team Member Card */
.team-member-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
}

/* Team Member Image */
.team-member-image img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

/* Team Member Details */
.team-member-details {
  margin-top: 10px;
}

/* Team Member Name */
.team-member-name {
  font-size: 18px;
  font-weight: bold;
}

/* Team Member UIN Number */
.team-member-uin {
  font-size: 16px;
  color: #666666;
}

/* Team Member Job Role */
.team-member-job-role {
  font-size: 16px;
  margin-top: 10px;
}
.team-member-responsibilities {
  font-size: 14px;
  margin-top: 10px;
  color: #333333;
}
