/* ProjectDetails.module.css */

.project-details-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: calc(100vh - 190px); /* Adjust height for Navbar and Sidebar */
}

.project-details-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
  text-align: left;
  margin-left: -80px;
}

/* Styling for the "More Project Details" button */
.project-details-button {
  background-color: #a0d1ed;
  color: #000000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  top: 90px;
  left: 85%;
  border-radius: 10px;
}

/* Hover effect for the button */
.project-details-button:hover {
  background-color: #7e92aa;
}

.project-details-row1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20%; /* Adjust width as needed */
  margin-bottom: 20px; /* Add spacing between rows */
  position: relative;
  left: 5%;
}
.project-details-row2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20%; /* Adjust width as needed */
  margin-bottom: 20px; /* Add spacing between rows */
  position: relative;
  left: 5%;
}

.project-details-label {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #333;
  width: 100%; /* Adjust label column width */
  text-align: right; /* Right-align labels */
}

.project-details-data {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #510a17;
  width: 60%; /* Adjust data column width */
  text-align: left; /* Left-align data */
}
/* Container styles */
.projectsubmit-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.team-member-container {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 75%;
  position: relative;
  left: 21%;
  top: -160px;
}

/* Card styles */
.team-member-card {
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #fff;
}

.team-member-image {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 20px;
}

.team-member-image img {
  max-width: 100%;
  height: auto;
}

/* Detail styles */
.team-member-details {
  flex: 1;
}

.class-name-2,
.class-name-3,
.class-name-4 {
  margin: 0;
  padding: 0;
}

.class-name-2,
.class-name-3 {
  font-size: 14px;
  color: #555;
}

.class-name-4 {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
