/* Home.css */
.content-main {
    display: flex;
    flex-direction: column;
    align-items:flex-start
  }
  
  .home-header {
    text-align: left; /* Align the header text to the left */
    margin: 10px;
  }
  
  .card {
    justify-content: center;
    align-items: center;
    width: 100px; /* Adjust the width as per your preference */
    height: 100px; /* Adjust the height as per your preference */
    margin: 10px;
    border: 5px solid #ccc;
    border-radius: 40px;
    text-decoration: none;
    color: #333;
  }
  
  .project-card {
    background-color: #7E92AA; /* Grey color for project cards */
  }
  
  .other-card {
    background-color: #C39D7A; /* Mild blue color for other cards */
  }

  .other-card1 {
    background-color: #4580C4; /* Mild blue color for other cards */
  }
  
  .card:hover {
    background-color: #ddd; /* Light grey color on hover */
  }
  